@use "../abstract/variables" as *;


*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

h1 {
    font-size: 3rem;
    font-family: $font-heading;
}

h2 {
    font-size: 2.5rem;
    font-family: $font-primary;
}

h3 {
    font-size: 1.95rem;
    font-family: $font-primary;
}

h4 {
    font-size: 1.55rem;
    font-family: $font-primary;
}

h5 {
    font-size: 1.5rem;
    font-family: $font-primary;
}

h6 {
    font-size: 1.25rem;
    font-family: $font-primary;
}

p {
    margin-bottom: 1rem;
    font-family: $font-primary;
}