$primary-brand-color: #E16578;
$secondary-brand-color: #6CCFF6;
$brand-text: #212529;
$brand-light: #f8f9fa;

$accent-color:    #FDE062; 
$action-color:    #E98C71; 

// Fonts
$font-primary: "Poppins", sans-serif;
$font-heading: "Montserrat", sans-serif;

// Spacing
$spacing-xs: .25rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;